.Door-Stop #hero {
    width: 100%;
    height: 90vh;
    background: #37517e;
    padding-top: 250px;
}

.Door-Stop #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.Door-Stop #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.Door-Stop #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    font-weight: 600;
}

.Door-Stop #hero .btn-get-started:hover {
    background: #22a2dd;
}

.Door-Stop a {
    color: #47b2e4;
    text-decoration: none;
}

@media (max-width: 991px) {
    .Door-Stop #hero {
        height: 100vh;
        text-align: center;
    }

    .Door-Stop #hero .hero-img img {
        width: 80%;
    }

    .Door-Stop #hero .hero-img {
        text-align: center;
    }

    .Door-Stop #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .Door-Stop #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .Door-Stop #hero {
        height: 100vh;
        text-align: center;
    }
}
section {
    padding: 60px 0;
    overflow: hidden;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-13px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .move-up-down {
    animation-name: moveUpDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .animate-onload {
    transform: translateY(100%);
    opacity: 0;
    animation: slide-up 01s ease-out forwards;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(40%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .zoom-in {
    animation: zoom-in 2s ease-in-out;
    transform-origin: center;
  }
  
  @keyframes zoom-in {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }